# OS files 
.DS_Store 

# Python cache 

__pycache__/ 
*.pyc 

# Airflow logs 

logs/ 
airflow/logs/ 

# DBT 
logs 
dbt/logs/ 

# Env files 

.env 

# Airflow runtime files 

airflow/airflow.db 
airflow/airflow.cfg 
airflow/*.pid 

# IDE 

.vscode/
.idea/
